{% extends 'entidades/index.html' %}

{% block titulo %}
<h1>Sobre mí</h1>
<span class="subheading">Mi aspiración profesional</span>
{% endblock %}

{% block contenido %}
<div class="container about-me">
    <h2>Priscila Gimenez</h2>
    <p>
        Simplemente soy una curiosa por la tecnología y por ver cómo ésta es capaz de lograr tantas cosas al servicio de las personas. 
        Creo en el valor de los datos, en la necesidad de una gestión eficiente de los mismos y en el poder de la información para transformar realidades.
        Es por eso que me puse a leer, investigar y aprender sobre Data Governance: para no sólo entender la parte técnica, de negocio, burocrático, sino también lo administrativo y humano que hay detrás de todo esto.
        Me interesa la llamada 'cultura de datos' y creo que es fundamental capacitarse para poder aprovechar al máximo el potencial de los datos en cualquier organización.
        <br><br>
        En lo personal, esta curiosidad nace de un compromiso de administrar correctamente los datos y de contribuir a un entorno donde la información sea un recurso valioso, 
        bien gestionado y utilizado de manera ética. Un compromiso que va más allá del simple consumo. Porque sí, todos usamos la tecnología, nos servimos de los datos,
        pero ¿cuántos realmente entendemos su peso y cómo gestionarlos adecuadamente?
    </p>
</div>
{% endblock %}
